<h1>Admin::Calculations#index</h1>
<p>Find me in app/views/admin/calculations/index.html.erb</p>

<% @calculations.each do |calculation| %>
  <h3><%=  link_to calculation.title, admin_calculation_path(calculation) %></h3>
  <h4><%= calculation.subtitle %></h4>
  <p><%= link_to calculation.user.name , admin_user_path(calculation.user) %></p>
 <p><%= t("activerecord.enums.calculation.release_status.#{calculation.release_status}") %></p>
<% end %>

<p>・そもそもこのアプリでユーザーを論理削除する必要があるのか？<br>
（アピールするなら論理削除？）<br>
・結局コントローラーでis_deleted:falseの投稿だけ表示するようにするのに、<br>
モデルにも記述は必要なのか？<br>
・論理削除した場合<br>
is_deleted:true→削除<br>
 </p>