<h1>Admin::Calculations#index</h1>
<p>Find me in app/views/admin/calculations/index.html.erb</p>

<% @calculations.each do |calculation| %>
  <h3><%=  link_to calculation.title, admin_calculation_path(calculation) %></h3>
  <h4><%= calculation.subtitle %></h4>
  <p><%= link_to calculation.user.name , admin_user_path(calculation.user) %></p>
<% end %>