<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>
<h3>ここに計算機能を作る</h3>

[
    {"val0"=>"KNaO","val1"=>"Li2O","val2"=>"MgO","val3"=>"CaO","val4"=>"Sr0","val5"=>"BaO","val6"=>"ZnO","val7"=>"Al2O3","val8"=>"SiO2","val9"=>"　      　　　　　　         調合量　　（調合比 ）","val10"=>"","val11"=>"","val12"=>"百分率％"}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"","val5"=>"","val6"=>"","val7"=>"","val8"=>"","val9"=>"","val10"=>"","val11"=>"","val12"=>"","undefined"=>"","undefined"=>""}
    {"val0"=>"  各酸化物のモル数","val1"=>"","val2"=>"0.0000 ","val3"=>"0.0000 ","val4"=>"0.0000 ","val5"=>"0.0000 ","val6"=>"0.0000 ","val7"=>"0.0000 ","val8"=>"0.0000 ","val9"=>"0.3600 ","val10"=>"4.1000 ","val11"=>"","val12"=>"","undefined"=>"","undefined"=>""}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"","val5"=>"","val6"=>"","val7"=>"","val8"=>"","val9"=>"","val10"=>"","val11"=>"","val12"=>"","undefined"=>"","undefined"=>""}
    {"val0"=>"","val1"=>"","val2"=>"0.0000 ","val3"=>"","val4"=>"","val5"=>"","val6"=>"","val7"=>"","val8"=>"","val9"=>"0.0000 ","val10"=>"0.0000 ","val11"=>"         平津長石","val12"=>"","undefined"=>"0.0000 ","undefined"=>"0.0000 "}
    {"val0"=>"","val1"=>"","val2"=>"0.0000 ","val3"=>"","val4"=>"0.0000 ","val5"=>"0.0000 ","val6"=>"","val7"=>"","val8"=>"","val9"=>"0.3600 ","val10"=>"4.1000 ","val11"=>"残り","val12"=>"","undefined"=>"","undefined"=>""}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"0.0000 ","val4"=>"","val5"=>"","val6"=>"","val7"=>"","val8"=>"","val9"=>"","val10"=>"","val11"=>"          炭酸リチウム","val12"=>"","undefined"=>"0.0000 ","undefined"=>"0.0000 "}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"0.0000 ","val4"=>"0.0000 ","val5"=>"","val6"=>"","val7"=>"","val8"=>"","val9"=>"","val10"=>"","val11"=>"残り","val12"=>"","undefined"=>"","undefined"=>""}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"0.0000 ","val5"=>"","val6"=>"","val7"=>"","val8"=>"","val9"=>"","val10"=>"","val11"=>"        マグネサイト","val12"=>"","undefined"=>"0.0000 ","undefined"=>"0.0000 "}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"0.0000 ","val5"=>"","val6"=>"","val7"=>"","val8"=>"","val9"=>"","val10"=>"","val11"=>"残り","val12"=>"","undefined"=>"","undefined"=>""}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"","val5"=>"0.0000 ","val6"=>"","val7"=>"","val8"=>"","val9"=>"","val10"=>"","val11"=>"       白石灰石","val12"=>"","undefined"=>"0.0000 ","undefined"=>"0.0000 "}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"","val5"=>"0.0000 ","val6"=>"","val7"=>"","val8"=>"","val9"=>"","val10"=>"","val11"=>"残り","val12"=>"","undefined"=>"","undefined"=>""}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"","val5"=>"","val6"=>"","val7"=>"","val8"=>"","val9"=>"","val10"=>"","val11"=>"       炭酸ｽﾄﾛﾝﾁｳﾑ","val12"=>"","undefined"=>"0.0000 ","undefined"=>"0.0000 "}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"","val5"=>"","val6"=>"0.0000 ","val7"=>"","val8"=>"","val9"=>"","val10"=>"","val11"=>"残り","val12"=>"","undefined"=>"","undefined"=>""}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"","val5"=>"","val6"=>"","val7"=>"","val8"=>"","val9"=>"","val10"=>"","val11"=>"         炭酸バリウム","val12"=>"","undefined"=>"0.0000 ","undefined"=>"0.0000 "}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"","val5"=>"","val6"=>"","val7"=>"0.0000 ","val8"=>"","val9"=>"","val10"=>"","val11"=>"残り","val12"=>"","undefined"=>"","undefined"=>""}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"","val5"=>"","val6"=>"","val7"=>"","val8"=>"","val9"=>"","val10"=>"","val11"=>"         亜鉛華","val12"=>"","undefined"=>"0.0000 ","undefined"=>"0.0000 "}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"","val5"=>"","val6"=>"","val7"=>"","val8"=>"0.0000 ","val9"=>"","val10"=>"","val11"=>"残り","val12"=>"","undefined"=>"","undefined"=>""}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"","val5"=>"","val6"=>"","val7"=>"","val8"=>"","val9"=>"0.3600 ","val10"=>"0.7145 ","val11"=>"        韓国カオリン","val12"=>"","undefined"=>"94.2162 ","undefined"=>"31.5014 "}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"","val5"=>"","val6"=>"","val7"=>"","val8"=>"","val9"=>"0.0000 ","val10"=>"3.3855 ","val11"=>"残り","val12"=>"","undefined"=>"","undefined"=>""}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"","val5"=>"","val6"=>"","val7"=>"","val8"=>"","val9"=>"","val10"=>"3.3855 ","val11"=>"        福島珪石","val12"=>"","undefined"=>"204.8693 ","undefined"=>"68.4986 "}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"","val5"=>"","val6"=>"","val7"=>"","val8"=>"","val9"=>"","val10"=>"0.0000 ","val11"=>"残り","val12"=>"","undefined"=>"","undefined"=>""}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"","val5"=>"","val6"=>"","val7"=>"","val8"=>"","val9"=>"","val10"=>"","val11"=>"","val12"=>"","undefined"=>"","undefined"=>""}
    {"val0"=>"","val1"=>"","val2"=>"","val3"=>"","val4"=>"","val5"=>"","val6"=>"","val7"=>"","val8"=>"","val9"=>"","val10"=>"","val11"=>"","val12"=>"合計","undefined"=>"299.0854 ","undefined"=>"100.0000"}
];
