<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>

<% @calculations.each do |calculation| %>
  <h3><%= link_to calculation.title ,calculation  %></h3>
  <h4><%= calculation.subtitle %></h4>
<% end %>